<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageSources>
    <add key="local" value="C:\NuGet\msbuild-netcore" />
    <add key="myget.org roslyn nightly" value="https://www.myget.org/F/roslyn-nightly/api/v3/index.json" />
    <add key="myget.org dotnet-core" value="https://www.myget.org/F/dotnet-core/" />
    <add key="myget.org dotnet-buildtools" value="https://www.myget.org/F/dotnet-buildtools/" />
    <add key="myget.org nugetbuild" value="https://www.myget.org/F/nugetbuild/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>